.entrance{
    @apply flex flex-col relative justify-center items-center overflow-hidden max-h-screen;
}

.entrance-content{
    @apply w-auto flex justify-center mx-auto flex-col md:flex-col min-h-[100vh];
}

.scroll-down{
    @apply absolute bottom-0 flex justify-center w-full;
}


.mainPage-content{
    @apply absolute z-50 flex flex-col justify-end items-center max-h-screen max-w-[1280px];
}

.mainPage-bigHeader{
    @apply  max-w-[1280px]
} 

.mainPage-bigHeader a{
    @apply text-[#ece511] flex w-full font-black text-[2rem] md:text-[4.5rem] lg:text-[14rem];
    letter-spacing:0.4rem;
    font-family: var(--font-normal);
}

.mainPage-paragraph{
    @apply text-[#e9e2da] text-2xl leading-8 w-3/4 md:ml-52 text-justify;
    font-family:  var(--font-extreme);
    font-size: clamp(22px, 2.2vw, 38px);
}

.proje-button{
    @apply w-full flex justify-end
}

.video-background {
    max-height: 100vh;
    max-width:100%;
    height:100vh;
    overflow: hidden;
}

.entrance-video{
    filter: opacity(100%);
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    max-height:80vh;
    object-fit: cover;
}

 