.footer {
    @apply bg-[#18181c] lg:px-28 pt-14 px-10 pb-10
}

.footer-container{
    @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-2 pb-8
}

.footer-title{
    @apply font-bold lg:text-5xl text-yellow-400 tracking-wider;
    -webkit-text-stroke: 1px black;
   text-shadow: 0.5px 0.5px 0px rgba(255, 255, 255, 1); 
   font-family: var(--font-extreme);
}

.footer-info {
    @apply text-slate-100 xl:w-[559px] pt-4
}

.contact-area{
    @apply grid lg:grid-cols-1 xl:grid-cols-2 grid-cols-1 md:grid-cols-1 pt-9
}

.phone{
    @apply flex gap-2
}

.phone-text,
.email-text{
    @apply text-green-600 text-sm
}

.phone-call{
    @apply text-slate-200
}

.email{
    @apply flex gap-2 text-slate-200 md:pt-4 pt-4 xl:pt-0
}

.email-send{
    @apply text-slate-200
}

.contact-us{
    @apply text-blue-400 font-semibold lg:text-xl md:pt-4 pt-4
}

.contact-us-text{
    @apply text-slate-200 xl:w-[555px] pt-4 pb-5
}

.footer-contact-button{
    @apply flex 
}

.social-media-area{
    @apply flex justify-start gap-4 socials
}

.social-media{
    @apply relative overflow-hidden block footer-div cursor-pointer
}

.fb-icon{
    @apply text-slate-200 bg-[#1c20f7] rounded-full leading-4 p-2 h-8 w-8
}

.youtube-icon{
    @apply  text-slate-200 bg-[#c63232] rounded-full leading-4 p-2 h-8 w-8
}

.whatsapp-icon{
    @apply text-slate-200 bg-[#307f63] rounded-full leading-4 p-2 h-8 w-8
}

.lower-footer{
    @apply grid lg:grid-cols-2 grid-cols-1 pt-4 md:grid-cols-1 border-t border-yellow-300
}

.lower-container{
    @apply md:flex justify-between text-sky-100 text-xs md:text-base flex-col lg:flex-row 
}

.license{
    @apply text-slate-200 lg:justify-end justify-start pt-4 flex md:justify-start md:pt-4 text-xs md:text-base lg:pt-0
}

.c-btn span:first-child {
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
  }
  .c-btn:hover span {
    transform: translateX(0);
  }
  .socials .footer-div span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  .socials span {
    transition: transform 0.2s ease-out;
  }
  
  .socials .footer-div:hover span:first-child {
    transform: translateY(100%);
  }
  
  .socials .footer-div:hover span:last-child {
    transform: none;
  }
